<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WKBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>WKNotificationScene</key>
	<array>
		<dict>
			<key>Category</key>
			<string>LandmarksReceived</string>
			<key>WKInterfaceControllerClassName</key>
			<string>LandmarksNotificationController</string>
		</dict>
		<dict>
			<key>Category</key>
			<string>LandmarkNear</string>
			<key>WKInterfaceControllerClassName</key>
			<string>NotificationController</string>
		</dict>
	</array>
</dict>
</plist>
